<!-- 
<h2>{{section.settings.masonry-grid}}</h2>
{%- for block in section.blocks -%}

{{block.settings.text}}
{{block.settings.link}}

{%- endfor -%} -->

{{ 'component-masonry.css' | asset_url | stylesheet_tag }}

<section class="">
<div class="masonry-grid macy-container">
  {%- for block in section.blocks -%} 
  <div class="grid-item">
      <img loading="lazy"src="{{block.settings.image | img_url:"700x" }}">
      <h2>{{block.settings.text}}</h2>
    </div>
    {%- endfor -%}
    ...
  </div>
</section>



{% schema %}
{
    "name": "Masonry Grid",
    "settings": [
     {
         "id": "masonry-grid",
          "type":"text",
         "label": "Add masonry grid"
     }
    ],
    "presets":[
      {
        "name":"masonry-grid"

      }
    ],
    "blocks": [
      
      {
        "name": "Masonry Image",
        "type":"masonry-image",
        "settings": [
        
          {
            "type": "image_picker",
            "id": "image",
            "label":"Image"
          },

          {
          "type": "text",
          "id": "text",
          "label":"Add some text"
          },

          {
            "type": "url",
            "id": "link",
            "label": "Add a link"
          }

        ]
      }
    
    ]
}
{% endschema %}

  {% stylesheet %}
      
  {% endstylesheet %}

  {% javascript %}
      
  var macy = Macy({
    container: '.macy-container',
    trueOrder: false,
    waitForImages: false,
    margin: 24,
    columns: 2,
    breakAt: {
        1200: 2,
        940: 2,
        520: 1,
        400: 1
    }
});
  {% endjavascript %}